[submodule "external/kappa-core"]
	path = external/kappa-core
	url = https://github.com/Konstantysz/kappa-core.git
	branch = v0.5.1
[submodule "external/lib-guitar-io"]
	path = external/lib-guitar-io
	url = git@github.com:Konstantysz/lib-guitar-io.git
	branch = main
[submodule "external/lib-guitar-dsp"]
	path = external/lib-guitar-dsp
	url = git@github.com:Konstantysz/lib-guitar-dsp.git
	branch = main
